-
    let mainMenu = [
        {
            name: "About ",
            url: "#"
        },
        {
            name: "Features",
            url: "#"
        },
        {
            name: "Pricing",
            url: "#"
        },
        {
            name: "Testimonials",
            url: "#"
        },
        {
            name: "Help",
            url: "#"
        }
    ]
    
mixin menu (items)
    ul.navbar-nav.d-flex.gap-4
        for item in items
            li
                a(href=item.url).nav-link #{item.name}

-
    let indicators = {
        user: {
            use: "#user",
            bold: "90+",
            paragraph: "Users",
        },
        location: {
            use: "#location",
            bold: "30+",
            paragraph: "Locations",
        },
        server: {
            use: "#server",
            bold: "50+",
            paragraph: "Servers",
        },
    }

mixin indicator (oneInd)
    .svg-bg 
        svg 
            use(xlink:href=oneInd.use)
    .inform-cont 
        b #{oneInd.bold}
        p #{oneInd.paragraph}

- 
    let plans = {
        first: {
            src: "img/planFree.png",
            alt: "free plan",
            header: "Free Plan",
            benefits: [
                "Unlimited Bandwitch",
                "Encrypted Connection",
                "No Traffic Logs",
                "Works on All Devices",
            ],
            price: "Free",
            href: "#",
        },
        second: {
            src: "img/planStandart.png",
            alt: "Standard Plan",
            header: "Standard Plan",
            benefits: [
                "Unlimited Bandwitch",
                "Encrypted Connection",
                "Yes Traffic Logs",
                "Works on All Devices",
                "Connect Anyware",
            ],
            price: "$9 / mo",
            href: "#",
        },
        third: {
            src: "img/planPremium.png",
            alt: "Premium Plan",
            header: "Premium Plan",
            benefits: [
                "Unlimited Bandwitch",
                "Encrypted Connection",
                "Yes Traffic Logs",
                "Works on All Devices",
                "Connect Anyware",
                "Get New Features",
            ],
            price: "$12 / mo",
            href: "#",
        }
    }
mixin card (oneCard)
    .card-style
        .card-img 
            img(src=oneCard.src, alt=oneCard.alt)
        h3 #{oneCard.header}
        .card-benefits
            for benefit in oneCard.benefits 
                p #{benefit}
        p #{oneCard.price}
        a(href=oneCard.href).btn-style-round Select 
